﻿@model FinalChat.WEB.Models.UserRealtionsVM
<hr />
<div id="results">
    @if (Model.searchResult.Count() == 0)
    {
    <label class="control-label">There is no users found..</label>
    }
    @foreach (var user in Model.searchResult)
    {
    <div id='searchDiv_@user.ID'>
        <div class="row">
            <div class="col-md-1">
                @if (user.Avatar.Length == 0)
                {
                    if (!Model.blocksofUserIDs.Contains(user.ID))
                    {
                        <a data-email="@user.Email" class='profileLink' style='cursor:pointer;'><img src='/images/noavatar.png' class='round myIMG ' width='153' height='153'></a>
                    }
                    else
                    {
                        <img src='/images/noavatar.png' class='round myIMG ' width='153' height='153'>
                    }
                }
                else
                {
                    if (!Model.blocksofUserIDs.Contains(user.ID))
                    {
                        <a data-email="@user.Email" class='profileLink' style='cursor:pointer;'><img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Avatar))" class="round myIMG" width="153" height="153"></a>
                    }
                    else
                    {
                      <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Avatar))" class="round myIMG" width="153" height="153">

                    }
                }
            </div>
            <div class="col-md-4 col-md-offset-2">
                <h2 style="color:steelblue">@user.FirstName @user.LastName</h2>
                @if (!Model.blocksofUserIDs.Contains(user.ID))
                {
                <h5 style="color: steelblue">Phone: @user.Phone</h5>
                <h5 style="color: steelblue">Email: @user.Email</h5>    
                }
            </div>
            <div id='search_@user.ID' class="col-md-4 searchButtonsBlock">
                @if (Model.friends.SingleOrDefault(val => val.ID == user.ID) != null)
                {
                    <a data-id='@user.ID' class='writeTheMessageLink btn btn-primary'><i class='fas fa-envelope' style='font-size:18px;color:white'></i> Write the message</a>
                    <br>
                    <br>
                    <a data-id='@user.ID ' style="color:#337ab7" class='removeFriendLink btn btn-default'><i class="fas fa-user-times" style="font-size:18px;color:#337ab7"></i> Remove from contacts</a>

                }
                else
                {
                    if (Model.outcomingInvites.SingleOrDefault(val => val.ID == user.ID) != null)
                    {
                        <h4 style="color:steelblue">Invite have been already sended</h4>
                        <a data-id="@user.ID " style="color:#337ab7" class='canselInviteLink btn btn-default'><i class="far fa-times-circle" style="font-size:15px;color:#337ab7"></i> Cancel invite</a>
                    }
                    else if (Model.incomingInvites.SingleOrDefault(val => val.ID == user.ID) != null)
                    {
                        <a data-id="@user.ID " class='acceptInviteLink btn btn-primary'><i class="fas fa-user-plus" style="font-size:15px;color:white"></i> Accept invite</a>
                        <br>
                        <br>
                        <a data-id="@user.ID" style="color:#337ab7" class='declineInviteLink btn btn-default'><i class="far fa-times-circle" style="font-size:15px;color:#337ab7"></i> Decline invite</a>
                    }
                    else if (Model.blackListIDs.Contains(user.ID))
                    {
                        <h4 style="color:steelblue">User is in your black list</h4>
                        <a data-id="@user.ID "  style="color:#337ab7" class='unblockUserLink btn btn-default'>Remove from black list</a>

                    }
                    else if (Model.blocksofUserIDs.Contains(user.ID))
                    {
                        <br>
                        <br>
                        <h4 style="color:steelblue">You are in the black list of this user</h4>
                    }
                    else
                    {
                        <a data-id="@user.ID" class='sendInviteLink btn btn-primary'><i class="fas fa-user-plus" style="font-size:15px;color:white"></i> Add to contacts</a>
                        <br>
                        <br>
                        <a data-id="@user.ID" class='blockUserLink btn btn-default' style="color:#337ab7"><i class="fas fa-ban" style="font-size:15px;color:#337ab7"></i> Block this user</a>
                    }
                }
            </div>
        </div>
        <hr />
    </div>
        
    }
</div>