﻿@using FinalChat.WEB.Helpers;
@model FinalChat.WEB.Models.UserRealtionsVM


<div class="text-center">
    <div class="row ">
        <div class='col-md-5'>
            @if (Model.User.Avatar.Length == 0)
            {
                <img src='/images/noavatar.png' class='round myIMG ' width='233' height='233'>
            }
            else
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.User.Avatar))" class="round myIMG" width="233" height="233">
            }
            <br />
            <br />
            <div class="modalButtonsBlock">
                @if (Model.friends.SingleOrDefault(val => val.ID == Model.User.ID) != null)
                {
                    <a data-id='@Model.User.ID' class='writeTheMessageLink btn btn-primary'><i class='fas fa-envelope' style='font-size:18px;color:white'></i> Write the message</a>
                    <br>
                    <br>
                    <a data-id='@Model.User.ID' style="color:#337ab7" class='removeFriendLink btn btn-default'><i class="fas fa-user-times" style="font-size:18px;color:#337ab7"></i> Remove from contacts</a>
                }
                else
                {
                    if (Model.outcomingInvites.SingleOrDefault(val => val.ID == Model.User.ID) != null)
                    {
                        <h4 style="color:steelblue">Invite have been already sended</h4>
                        <a data-id="@Model.User.ID " style="color:#337ab7" class='canselInviteLink btn btn-default'><i class="far fa-times-circle" style="font-size:15px;color:#337ab7"></i> Cancel invite</a>
                    }
                    else if (Model.incomingInvites.SingleOrDefault(val => val.ID == Model.User.ID) != null)
                    {
                        <a data-id="@Model.User.ID" class='acceptInviteLink btn btn-primary'><i class="fas fa-user-plus" style="font-size:15px;color:white"></i> Accept invite</a>
                        <br>
                        <br>
                        <a data-id="@Model.User.ID" style="color:#337ab7" class='declineInviteLink btn btn-default'><i class="far fa-times-circle" style="font-size:15px;color:#337ab7"></i> Decline invite</a>
                    }
                    else if (Model.blackListIDs.Contains(Model.User.ID))
                    {
                        <h4 style="color:steelblue">User is in your black list</h4>
                        <a data-id="@Model.User.ID" style="color:#337ab7" class='unblockUserLink btn btn-default'>Remove from black list</a>

                    }
                    else if (Model.blocksofUserIDs.Contains(Model.User.ID))
                    {
                        <br>
                        <br>
                        <h4 style="color:steelblue">You are in the black list of this user</h4>
                    }
                    else
                    {
                        <a data-id="@Model.User.ID" class='sendInviteLink btn btn-primary'><i class="fas fa-user-plus" style="font-size:15px;color:white"></i> Add to contacts</a>
                        <br>
                        <br>
                        <a data-id="@Model.User.ID" class='blockUserLink btn btn-default' style="color:#337ab7"><i class="fas fa-ban" style="font-size:15px;color:#337ab7"></i> Block this user</a>
                    }
                }
            </div>
        </div>
        <div class='col-md-4 col-md-offset-4' style="margin-left: 0% !important">
            <table class="table table-th-block" style="border-collapse:collapse;border: hidden">
                <tbody>
                    <tr><td><label class="control-label">First name:</label></td><td>@Model.User.FirstName</td></tr>
                    <tr><td><label class="control-label">Last Name:</label></td><td>@Model.User.LastName</td></tr>
                    <tr><td><label class="control-label">Email:</label></td><td>@Model.User.Email</td></tr>
                    <tr><td><label class="control-label">Phone:</label></td><td>@Model.User.Phone</td></tr>
                    <tr><td><label class="control-label">Date of birth:</label></td><td>@Model.User.BirthDate.ToString("dd.MM.yyyy")</td></tr>
                    <tr><td><label class="control-label">Gender:</label></td><td>@Enum.GetName(typeof(Gender), Model.User.Gender)</td></tr>
                    <tr><td><label class="control-label">Martial status:</label></td><td>@Enum.GetName(typeof(MartialStatus), Model.User.MartialStatus)</td></tr>
                    <tr><td><label class="control-label">Date of registration:</label></td><td>@Model.User.RegistrationDate.ToString("dd.MM.yyyy")</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>