﻿@using FinalChat.WEB.Helpers;
@model FinalChat.WEB.Models.UserVM

@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="http://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Mukta:600" rel="stylesheet">
<script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="http://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
<style>
    body {
        background: url(http://bootstraptema.ru/images/bg/bg-1.png)
    }

    .round {
        border-radius: 2px; /* Радиус скругления */
        box-shadow: 0 0 0 2px steelblue, 0 0 5px #333; /* Параметры теней */
    }

    #main {
        background-color: #f2f2f2;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 4px solid #ddd;
    }

    #real-estates-detail #author img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 5px solid #ecf0f1;
        margin-bottom: 10px;
    }

    .myIMG {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 5px solid #ecf0f1;
        margin-bottom: 10px;
    }

    #real-estates-detail .sosmed-author i.fa {
        width: 30px;
        height: 30px;
        border: 2px solid #bdc3c7;
        color: #bdc3c7;
        padding-top: 6px;
        margin-top: 10px;
    }

    .panel-default .panel-heading {
        background-color: #fff;
    }

    #real-estates-detail .slides li img {
        height: 450px;
    }

    .control-label, a, button {
        color: #337ab7;
        font-family: 'Mukta', sans-serif;
        font-size: medium;
    }

    h1, h2, h3, h4, h5, h6, p {
        color: #337ab7;
        font-family: 'Mukta', sans-serif;
    }

    input, td {
        font-family: 'Mukta', sans-serif;
    }

    .fromUserMessage {
        color: red;
    }

    .toUserMessage {
        color: green;
    }
    #userSendedUnWritten {
        color: #337ab7;
        font-family: 'Mukta', sans-serif;
    }
    .dialogBlock:hover {
        background-color: #f0f2f5;
    }
    .dialogBlock {
        cursor: pointer;
        margin-top: -16px;
    }
    .container {
        max-width: 1170px;
        margin: auto;
    }



    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        padding:
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #337ab7;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
        word-break:break-all;
    }

    .received_withd_msg p {
        background: #337ab7 none repeat scroll 0 0;
        border-radius: 3px;
        color: white;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: right;
        padding: 30px 15px 0 25px;
        width: 60%;
    }

    .sent_msg p {
        background: #337ab7 none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        /*margin: 26px 0px 26px 0px;*/
        word-break:break-all;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        border-color: #337ab7 ;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #337ab7;
        position: relative;
    }

    .msg_send_btn {
        background: #337ab7 none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
    .roundImgChat {
        border-radius: 50%;
    }
    #chats {
        max-height: 500px;
    }

    /*#myTabContent{
        height:470px;
        overflow-y:auto;
    }*/
</style>

<div id="myModalBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header" style="background-color:#337ab7">
                <button type="button" class="close" style="color:white" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" style="color:white;text-align:center">User Profile</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body" id="modalUserInfo">

            </div>
            <!-- Футер модального окна -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить изменения</button>
                </div>*@
        </div>
    </div>
</div>

<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong style="color:steelblue">You</strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            <div id="profileAvatar">
                                @if (Model.Avatar.Length == 0)
                                {
                                    <img src='/images/noavatar.png' class='round myIMG ' width='233' height='233'>
                                }
                                else
                                {
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" class="round myIMG" width="233" height="233">
                                }
                            </div>
                            <h3 style="color:steelblue" id="profileNames"> @Model.FirstName @Model.LastName</h3>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <big class="label label-success">Online</big>

                            }
                            else
                            {
                                <label class="label label-danger">Offline</label>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#friends" data-toggle="tab"><i class="fas fa-users" style="font-size:18px;color:white"></i> Friends</a></li>
                            <li id="tabChats" class=""><a href="#chats" data-toggle="tab"><i class="fas fa-comments" style="font-size:18px;color:white"></i> Messages</a></li>
                            <li class=""><a href="#detail" data-toggle="tab"><i class="fas fa-info" style="font-size:18px;color:white"></i> User Information</a></li>
                            <li class=""><a href="#contact" data-toggle="tab"><i class="fas fa-user-edit" style="font-size:18px;color:white"></i> Edit Information</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade " id="detail">
                                <table class="table table-th-block">
                                    <tbody>
                                        <tr><td><label class="control-label">First Name</label></td><td id="detailFirstName">@Model.FirstName</td></tr>
                                        <tr><td><label class="control-label">Last Name</label></td><td id="detailLastName">@Model.LastName</td></tr>
                                        <tr><td><label class="control-label">Email</label></td><td id="detailEmail">@Model.Email</td></tr>
                                        <tr><td><label class="control-label">Phone</label></td><td id="detailPhone">@Model.Phone</td></tr>
                                        <tr><td><label class="control-label">Date of Birth</label></td><td id="detailBirthDate">@Model.BirthDate.ToString("dd.MM.yyyy")</td></tr>
                                        <tr><td><label class="control-label">Gender</label></td><td id="detailGender">@Enum.GetName(typeof(Gender), Model.Gender)</td></tr>
                                        <tr><td><label class="control-label">Martial Status</label></td><td id="detailMartialStatus">@Enum.GetName(typeof(MartialStatus), Model.MartialStatus)</td></tr>
                                        <tr><td><label class="control-label">Date of registration</label></td><td id="detailRegistrationDate">@Model.RegistrationDate</td></tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="chats">
                                <div id="chatBlock">


                                </div>
                                <div id="typeMessageBlock" style="visibility:hidden" class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" class="write_msg" placeholder="Type a message" />
                                        <button class="msg_send_btn" type="button"><i class="fab fa-telegram-plane"></i></button>
                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane fade active in" id="friends">
                                <div class="panel">
                                    <div class="panel-body">
                                        <ul id="myTabOfFriendsPanel" class="nav nav-pills">

                                            <li class="active"><a href="#allFriends" data-toggle="tab"><i class="fas fa-user-friends" style="font-size:18px;color:white"></i> All friends</a></li>
                                            <li class=""><a href="#friendsSearch" data-toggle="tab"><i class="fas fa-search" style="font-size:16px;color:white"></i> Search</a></li>
                                            <li class=""><a href="#invitesToUser" data-toggle="tab" id="invitesToLi">Incoming invites(<span id="incomingCount"></span>)</a></li>
                                            <li class=""><a href="#invitesFromUser" data-toggle="tab" id="ivitesFromLi">Outcoming invites(<span id="outcomingCount"></span>)</a></li>
                                        </ul>
                                        <hr />
                                        <div id="myFriendsPanelTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="allFriends">
                                                <div id="friendsBlock" class="text-center">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade " id="friendsSearch">
                                                <div id="searchBlock">
                                                    <p style="color:steelblue">Enter user phone or Email:</p>
                                                    <input type="text" name="userPhone" id="search" width="100" class="form-control" />
                                                    <div id="searchResults" class="text-center"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="invitesFromUser">
                                                <div id="invitesFromBlock" class="text-center">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="invitesToUser">
                                                <div id="invitesToBlock" class="text-center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="contact">
                                <div id="editBlock">
                                    <form asp-action="Edit" id="editForm" enctype="multipart/form-data" method="post">
                                        @Html.HiddenFor(model => model.ID)
                                        @Html.HiddenFor(model => model.Email)
                                        @Html.HiddenFor(model => model.Phone)
                                        @Html.HiddenFor(model => model.ConfirmEmail)
                                        @Html.HiddenFor(model => model.PasswordHash)
                                        @Html.HiddenFor(model => model.PasswordSalt)
                                        @Html.HiddenFor(model => model.RegistrationDate)
                                        @Html.HiddenFor(model => model.NetworkStatus)
                                        @Html.HiddenFor(model => model.Avatar)
                                        <table class="table table-th-block">
                                            <tbody>
                                                <tr><td> <label class="control-label">Login:</label></td><td><input asp-for="Login" id="editLogin" class="form-control" /></td></tr>
                                                <tr><td><label class="control-label">First name:</label></td><td><input asp-for="FirstName" id="editFirstName" class="form-control" /><span asp-validation-for="FirstName" class="text-danger"></span></td></tr>
                                                <tr><td> <label class="control-label">Last name:</label></td><td><input asp-for="LastName" id="editLastName" class="form-control" /><span asp-validation-for="LastName" class="text-danger"></span></td></tr>
                                                <tr><td><label class="control-label">Birth date:</label></td><td><input asp-for="BirthDate" id="editBirthDate" class="form-control" /></td></tr>
                                                <tr><td><label class="control-label">Gender:</label></td><td><select asp-for="Gender" id="editGender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select></td></tr>
                                                <tr><td><label class="control-label">Martial status:</label></td><td><select asp-for="MartialStatus" id="editMartial" asp-items="Html.GetEnumSelectList<MartialStatus>()" class="form-control"></select></td></tr>
                                                <tr>
                                                    <td><label class="control-label">Avatar:</label></td>
                                                    <td>
                                                        <label for="editAvatar" class="btn btn-default"><i class="far fa-image" style="font-size:18px;color:#337ab7"></i> Change photo</label>
                                                        <input asp-for="AvatarFile" type="file" style="display: none;" id="editAvatar" class="form-control" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label">Change password:</label></td>
                                                    <td>
                                                        Current password:
                                                        <input asp-for="OldPassword" id="editOldPassword" class="form-control" />  <span asp-validation-for="OldPassword" class="text-danger"></span><br>
                                                        <span id="trNewPassword" hidden="hidden">New password:<input asp-for="Password" id="editNewPassword" class="form-control" /></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" id="saveChangesProfile" accept="image/jpg,image/png,image/jpeg" value=""><i class="far fa-save" style="font-size:18px;color:white"></i> Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr.js"></script>
    <script src="~/js/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ConnectToHub();
            GetAllFriends();
            GetInComingInvites();
            GetOutComingInvites();
            GetAllDialogs();


            setInterval(function () {
                GetInComingInvites();
            },3000);




            $('body').on("click", ".writeTheMessageLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var name = $(this).data("name");
                CheckDialogExists(id,name);

            })
            $('body').on("click", ".sendInviteLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                SendInvite(id, parent);
            })
            $('body').on("click", ".canselInviteLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                CanselInvite(id, parent);
            })
            $('body').on("click", ".acceptInviteLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                AcceptInvite(id, parent);
            })
            $('body').on("click", ".declineInviteLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                DeclineInvite(id, parent);
            })
            $('body').on("click", ".removeFriendLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                RemoveFriend(id, parent);
            })
            $('body').on("click", ".blockUserLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                BlockUser(id, parent);
            })
            $('body').on("click", ".unblockUserLink", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var parent = $(this).parent()
                UnblockUser(id, parent);
            })

            function ShowUserProfileModal(email) {
                $('#modalUserInfo').load('@Url.Action("_ShowUserProfile", "Home")?email=' + email);
                $("#myModalBox").modal('show');

            }
            $('#myModalBox').on('hidden.bs.modal', function () {
                $('#modalUserInfo').empty();
            })
            $('body').on("click", ".profileLink", function () {
                var email = $(this).data("email");
                ShowUserProfileModal(email);
            })




            function GetAllFriends() {
                $.ajax({
                    url: '/Home/GetAllFriendsAsync',
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    traditional: true,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        var result = "";
                        $.each(data, function (index, user) {
                            result += "<div id='friend_" + user.id + "'><div class='row'>" + "<div class='col-md-1'>";
                            result += WriteUserInfoHtml(user);
                            result += "<div class='col-md-4 friendButtonsBlock'>" + "<a data-id='" + user.id + "'data-name='" + user.firstName + "'class='writeTheMessageLink btn btn-primary'><i class='fas fa-envelope' style='font-size:18px;color:white'></i> Write the message</a>" + "<br><br>" +
                                "<a data-id='" + user.id + "'style='color:#337ab7' class='removeFriendLink btn btn-default'><i class='fas fa-user-times' style='font-size:18px;color:#337ab7'></i> Remove from contacts</a>" +
                                "</div>" + "</div>" + "<hr /></div>";
                        })
                        $("#friendsBlock").empty();
                        $("#friendsBlock").html(result);
                    }
                });
            }
            function GetInComingInvites() {
                $.ajax({
                    url: '/Home/GetIncomingInvitesAsync',
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    traditional: true,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        $("#incomingCount").html(data.length);
                        var result = "";
                        $.each(data, function (index, user) {
                            result += "<div id='inComing_" + user.id + "'><div class='row'>" + "<div class='col-md-1'>";
                            result += WriteUserInfoHtml(user);
                            result += "<div class='col-md-4 incomingButtonsBlock'>" + "<a data-id='" + user.id + "'class='acceptInviteLink btn btn-primary'><i class='fas fa-user-plus' style='font-size:15px;color:white'></i> Accept invite</a>" + "<br><br>" +
                                "<a data-id='" + user.id + "' style='color:#337ab7' class='declineInviteLink btn btn-default'><i class='far fa-times-circle' style='font-size:15px;color:#337ab7'></i> Decline invite</a>" +
                                "</div>" + "</div>" + "<hr /></div>";
                        })
                        $("#invitesToBlock").empty();
                        $("#invitesToBlock").html(result);
                    }
                });
            }
            function GetOutComingInvites() {
                $.ajax({
                    url: '/Home/GetOutComingInvitesAsync',
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    traditional: true,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        $("#outcomingCount").text(data.length);
                        var result = "";
                        $.each(data, function (index, user) {
                            result += "<div id='outComing_" + user.id + "'><div class='row'>" + "<div class='col-md-1'>";
                            result += WriteUserInfoHtml(user);
                            result += "<div class='col-md-4 outcomingButtonsBlock'>" + "<h4 style='color:steelblue'>Invite have been already sended</h4>" + "<a data-id='" + user.id +
                                "' style='color:#337ab7' class='canselInviteLink btn btn-default'><i class='far fa-times-circle' style='font-size:15px;color:#337ab7'></i> Cancel invite</a>" +
                                "</div>" + "</div>" + "<hr /></div>";
                        })
                        $("#invitesFromBlock").empty();
                        $("#invitesFromBlock").html(result);
                    }
                });
            }
            function GetAllDialogs() {
                $.ajax({
                    url: '/Home/GetUserDialogsAsync',
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    traditional: true,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        var result = "";
                        var now = new Date();
                        $.each(data, function (index, dialog) {
                            var messageBlock = '';
                            if (dialog.lastMessageWritten) {
                                result += "<div data-dialogId='" + dialog.id + "'data-userId='" + dialog.companionID + "'data-userName='" + dialog.companionFirstName +
                                    "'class='text-center dialogBlock' style='cursor:pointer;' ><div class='row' style='height:50px'>" + "<div class='col-md-1'>";
                              
                                    messageBlock += "<h5 style='color:#337ab7;'>" + dialog.lastMessage + "</h5></div >";
                           
                            }
                            else if (!dialog.lastMessageWritten && dialog.lastmessageToID == "@Model.ID") {
                                 
                                result += "<div data-dialogId='" + dialog.id + "'data-userId='" + dialog.companionID + "'data-userName='" + dialog.companionFirstName +
                                    "'class='text-center dialogBlock' style='background:#f0f2f5;cursor:pointer;'><div class='row' style='height:50px'>" + "<div class='col-md-1'>";
                                
                                    messageBlock += "<h5 style='color:#337ab7;'>" + dialog.lastMessage + "</h5></div >";
                               
                            }    
                            else if (!dialog.lastMessageWritten && dialog.lastmessageToID != "@Model.ID") {

                                result += "<div data-dialogId='" + dialog.id + "'data-userId='" + dialog.companionID + "'data-userName='" + dialog.companionFirstName +
                                    "'class='text-center dialogBlock' style='cursor:pointer;' ><div class='row' style='height:50px'>" + "<div class='col-md-1'>";
                                
                                    messageBlock += "<h5 id='userSendedUnWritten' style='color:#337ab7;background:#f0f2f5;width:100%'>" + dialog.lastMessage + "</h5></div >";
                                             
                            }
                            if (dialog.companionAvatar == "") {
                                result +="<img src='/images/noavatar.png' class='roundImgChat  ' width='50' height='50' ></a>";
                            }
                            else {
                                result += "<img src='data:image/jpeg;base64," + dialog.companionAvatar + "'" + "class='roundImgChat  ' width='50' height='50' style='margin-top:5px;margin-left:10px'>";
                            }
                            result += "<h5 style='margin-left:17px'>" + dialog.companionFirstName + "</h5>";
                            result += "</div >" + "<div class='col-md-4 col-md-offset-2'>";
                            result += messageBlock;
                            result += "<div class='col-md-4'>" + "<h6 style='color:#337ab7'>" + dialog.lastMessageTime + "</h6>" + "</div>" + "</div>" + "<br><hr /></div>";

                        })
                        $("#typeMessageBlock").css("visibility", "hidden");
                        $("#chatBlock").empty();
                        $("#chatBlock").removeData('dialogid');
                        $("#chatBlock").html(result);
                       
                    }
                });

            }

            $('body').on("click", ".dialogBlock", function () {
                var dialogId = $(this).data("dialogid");
                var userId = $(this).data("userid");
                var userName = $(this).data("username");
                GoIntoDialog(dialogId, userId, userName);
            })

            
            function CheckDialogExists(id,name) {
                 $.ajax({
                     url: '/Home/CheckDialogExists?id=' + id,
                    type: 'GET',
                    success: function (data) {
                        if (data.dialogExist == true) {
                            $("#chatBlock").empty();
                            GoIntoDialog(data.dialogID,id,name);
                            $('.nav-pills a[href="#chats"]').tab('show');
                        }
                        else (data.dialogExist == false)
                        {
                            $("#chatBlock").empty();
                            GetAllDialogs();
                            GoIntoDialog(data.dialogID, id, name);
                            $('.nav-pills a[href="#chats"]').tab('show');
                        }
                     }
                });

            }

            function GoIntoDialog(dialogId,companionId,companionName) {
                $.ajax({
                    url: '/Home/GetAllDialogMessages?id=' + dialogId+'&userID='+@Model.ID,
                    type: 'GET',
                    success: function (data) {
                        console.log(data)
                        $("#chatBlock").empty();
                        var result = "";
                        $.each(data, function (index, message) {
                            if (message.fromID == '@Model.ID') {
                                result += WriteOutComingMessage(message);
                            }
                            else {
                                result += WriteIncomingMessage(message) ;
                            }
                            $("#chatBlock").html(result);
                            $("#chatBlock").attr('data-dialogid');
                            $("#chatBlock").attr('data-dialogid', dialogId);//
                            console.log($("#chatBlock").data('dialogid'));
                            $("#typeMessageBlock").css("visibility", "visible");
                            $(".msg_send_btn").attr('data-dialogid');
                            $(".msg_send_btn").attr("data-userid", companionId).attr("data-username", companionName).attr("data-dialogid",dialogId);

                        })
                    }
                });
            };


            $('body').on("click", "#tabChats", function () {
                GetAllDialogs();
            })
            

            function WriteOutComingMessage(message) {
                var newMessage = "";
                newMessage += "<div class='incoming_msg'>" +
                    "<div class='incoming_msg_img'><img src='data:image/jpeg;base64," + message.userFromPhoto + "'" + "class='imgCHAT roundImgChat' with='40' height='40' alt='sunil'></div>" +
                    "<div class='received_msg'>" +
                    "<div class='received_withd_msg'>" +
                    "<p>" + message.messageText + "</p>" +
                    "<span class='time_date'>" + new Date(message.messageDate).toLocaleString()+"</span></div></div></div></div>";
                return newMessage;
            }
            function WriteIncomingMessage(message){
                var newMessage="";
                newMessage += "<div class='outgoing_msg'>" +
                    "<div class='incoming_msg_img ' style='float:right'><img src='data:image/jpeg;base64," + message.userFromPhoto + "'" + "class='imgCHAT roundImgChat' with='40' height='40' alt='sunil'></div>" + "<div class='sent_msg'>" +
                    "<p>" + message.messageText+"</p>" +
                    "<span class='time_date'>" + new Date(message.messageDate).toLocaleString() +"</div></div>";
                return newMessage;
            }



            function RemoveFriend(id, buttonsDiv) {
                $.ajax({
                    url: '/Home/RemoveFriendAsync?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons = "<a data-id='" + id + "'class='sendInviteLink btn btn-primary'><i class='fas fa-user-plus' style='font-size:15px;color:white'></i> Add to contacts</a><br><br>" +
                            "<a data-id='" + id + "' style='color:#337ab7' class='blockUserLink btn btn-default'><i class='fas fa-ban' style='font-size:15px;color:#337ab7'></i> Block this user</a>";
                        $("#friend_" + id).remove();
                        if (!$(buttonsDiv).hasClass("friendButtonsBlock")) {
                            buttonsDiv.empty();
                            buttonsDiv.html(newButtons);
                        }
                        if ($(buttonsDiv).hasClass("modalButtonsBlock") || $(buttonsDiv).hasClass("friendButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                        //GetAllFriends();
                    }
                });
            };



            function SendInvite(id,buttonsDiv) {
                $.ajax({
                    url: '/Home/SendInviteAsync?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons = "<h4 style='color:steelblue'>Invite have been already sended</h4>" +
                            "<a data-id='" + id + "' style='color:#337ab7' class='canselInviteLink btn btn-default'><i class='far fa-times-circle' style='font-size:15px;color:#337ab7'></i> Cancel invite</a>";
                        buttonsDiv.empty();
                        buttonsDiv.html(newButtons);

                        var invite = $("#searchDiv_" + id).clone();
                        var buttonsOfNewInvite = invite.find(".searchButtonsBlock");
                        buttonsOfNewInvite.removeClass("searchButtonsBlock").addClass("outcomingButtonsBlock");
                        invite.attr('id', 'outComing_' + id).prependTo("#invitesFromBlock");

                        var outcomingCount = Number($("#outcomingCount").html());
                        outcomingCount++;
                        $("#outcomingCount").html(outcomingCount);

                        if ($(buttonsDiv).hasClass("modalButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                        //GetOutComingInvites();
                    }
                });
            };
            function CanselInvite(id, buttonsDiv) {
                $.ajax({
                    url: '/Home/CancelInviteAjax?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons = "<a data-id='" + id + "'class='sendInviteLink btn btn-primary'><i class='fas fa-user-plus' style='font-size:15px;color:white'></i> Add to contacts</a><br><br>" +
                            "<a data-id='" + id + "' style='color:#337ab7' class='blockUserLink btn btn-default'><i class='fas fa-ban' style='font-size:15px;color:#337ab7'></i> Block this user</a>";
                        $("#outComing_" + id).remove();//

                        var outcomingCount = Number($("#outcomingCount").html());
                        outcomingCount--;
                        $("#outcomingCount").text(outcomingCount);

                        if (!$(buttonsDiv).hasClass("outcomingButtonsBlock")) {
                            buttonsDiv.empty();
                            buttonsDiv.html(newButtons);
                        }
                        if ($(buttonsDiv).hasClass("modalButtonsBlock") || $(buttonsDiv).hasClass("outcomingButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                        //GetOutComingInvites();
                    }
                });
            };
            function AcceptInvite(id, buttonsDiv) {
                $.ajax({
                    url: '/Home/AcceptInviteAjax?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons ="<a data-id='" + id + "'class='writeTheMessageLink btn btn-primary'><i class='fas fa-envelope' style='font-size:18px;color:white'></i> Write the message</a><br><br>" +
                            "<a data-id='" + id + "' style='color:#337ab7' class='removeFriendLink btn btn-default'><i class='fas fa-user-times' style='font-size:18px;color:#337ab7'></i> Remove from contacts</a>";
                        $("#inComing_" + id).remove();

                        var incomigcomingCount = Number($("#incomingCount").html());
                        incomigcomingCount--;
                        $("#incomingCount").html(incomigcomingCount);

                        if (!$(buttonsDiv).hasClass("incomingButtonsBlock")) {
                            buttonsDiv.empty();
                            buttonsDiv.html(newButtons);
                        };
                        if ($(buttonsDiv).hasClass("modalButtonsBlock") || $(buttonsDiv).hasClass("incomingButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                        GetAllFriends();
                        //GetInComingInvites();
                    }
                });
            };
            function DeclineInvite(id,buttonsDiv) {
                $.ajax({
                    url: '/Home/DeclineInviteAjax?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons = "<a data-id='" + id + "'class='sendInviteLink btn btn-primary'><i class='fas fa-user-plus' style='font-size:15px;color:white'></i> Add to contacts</a>";
                        $("#inComing_" + id).remove();

                        var incomigcomingCount = Number($("#incomingCount").html());
                        incomigcomingCount--;
                        $("#incomingCount").html(incomigcomingCount);

                        if (!$(buttonsDiv).hasClass("incomingButtonsBlock")) {
                            buttonsDiv.empty();
                            buttonsDiv.html(newButtons);
                        }
                        if ($(buttonsDiv).hasClass("modalButtonsBlock") || $(buttonsDiv).hasClass("incomingButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                        //GetInComingInvites();
                    }
                });
            };
            function BlockUser(id, buttonsDiv) {
                $.ajax({
                    url: '/Home/BlockUserAsync?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons = " <h4 style='color:steelblue'>User is in your black list</h4>" +
                            "<a data-id='" + id + "' style='color:#337ab7' class='unblockUserLink btn btn-default'>Remove from black list</a>";
                        buttonsDiv.empty();
                        buttonsDiv.html(newButtons);
                        if ($(buttonsDiv).hasClass("modalButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                    }
                });
            }
            function UnblockUser(id, buttonsDiv) {
                $.ajax({
                    url: '/Home/RemoveBlockOfUserAsync?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        var newButtons = "<a data-id='" + id + "'class='sendInviteLink btn btn-primary'><i class='fas fa-user-plus' style='font-size:15px;color:white'></i> Add to contacts</a><br><br>" +
                            "<a data-id='" + id +"' style='color:#337ab7' class='blockUserLink btn btn-default'><i class='fas fa-ban' style='font-size:15px;color:#337ab7'></i> Block this user</a>"
                        buttonsDiv.empty();
                        buttonsDiv.html(newButtons);
                        if ($(buttonsDiv).hasClass("modalButtonsBlock")) {
                            $("#search_" + id).empty().html(newButtons);
                        }
                    }
                });
            }







            function WriteUserInfoHtml(user) {
                var html = "";
                //html += "<div class='row'  >" + "<div class='col-md-1'>";
                if (user.avatar == "") {
                    html += "<a data-email='" + user.email + "'class='profileLink' style='cursor:pointer;'><img src='/images/noavatar.png' class='round myIMG ' width='153' height='153'></a>";
                }
                else {
                    html += "<a data-email='" + user.email + "'class='profileLink' style='cursor:pointer;' ><img src='data:image/jpeg;base64," + user.avatar + "'" + "class='round myIMG ' width='153' height='153'></a>";
                }
                html += "</div >" + "<div class='col-md-4 col-md-offset-2'>" +
                    "<h2 style='color:steelblue'>" + user.firstName + " " + user.lastName + "</h2>" +
                    "<h5 style='color: steelblue'>Phone:" + user.phone + "</h5>" +
                    "<h5 style='color: steelblue'>Email:" + user.email + "</h5>" + "</div >";
                return html;
            }

            $('#saveChangesProfile').click(function (e) {
                e.preventDefault();
                $('#editForm').validate();
                setTimeout(function () {
                    if ($('#editForm').valid()) {
                        $("#saveChangesProfile").hide();
                        var formdata = new FormData($('#editForm').get(0));
                        $.ajax({
                            url: "/Home/Edit",
                            type: 'POST',
                            data: formdata,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                $("#saveChangesProfile").show();
                                alert("Changes saved!");
                                $("#editOldPassword").val("");
                                $("#editNewPassword").val("");
                                $("#trNewPassword").hide();
                                $("#editAvatar").val("");
                                $("#profileAvatar").html("<img src='data:image/jpeg;base64," + data.avatar + "'" + "class= 'round myIMG ' width = '233' height = '233' >");
                                $("#profileNames").text(data.firstName + " " + data.lastName);
                                $("#detailFirstName").text(data.firstName);
                                $("#detailLastName").text(data.lastName);
                                $("#detailBirthDate").text(data.birthDate);
                                $("#detailGender").text(data.gender);
                                $("#detailMartialStatus").text(data.martialStatus);
                            }
                        });
                    }
                }, 2000);
            })
            $("#editOldPassword").on('input', function () {
                if ($("#editOldPassword").val() != "") {

                    $("#trNewPassword").show();
                    //$('#editForm').validate();
                }
                else {
                    $("#trNewPassword").hide();
                    $("#editNewPassword").val("");
                }
            })
            $("#editOldPassword").on('change', function () { $('#editForm').validate(); })




            var timeout = null;
            $('#search').on('keyup', function (e) {
                clearTimeout(timeout);
                timeout = setTimeout(function () {
                    ShowSearchResult();
                }, 500);
            });

            function ShowSearchResult() {
                 var phone = $('#search').val();
                if (phone == '') {
                    $('#searchResults').empty();
                }
                else {
                    phone = encodeURIComponent(phone);
                    $('#searchResults').load('@Url.Action("_SearchOfFriends", "Home")?phone=' + phone)
                }

            }
        });










        let hubUrl = 'http://localhost:49842/chat';
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .configureLogging(signalR.LogLevel.Information)
            .build();

        function ConnectToHub() {
            hubConnection.start().then(function () {
                registerEvent();
            });
        }

            function registerEvent() {
                var UserName = '@Model.FirstName';
                var UserId = parseInt(@Model.ID);
                hubConnection.invoke("Connect", UserName, UserId);

            };

        hubConnection.on('sendDirectMessage', function (userId, message, time, avatar,dialogID) {
            var dialog = $("#chatBlock").attr('data-dialogid');
            if (userId != @Model.ID) {
                if (Number(dialog) == Number(dialogID)) {
                    var newMessage = "";
                    newMessage += "<div class='outgoing_msg'>";
                    if (avatar != "") {
                        newMessage += "<div class='incoming_msg_img' style='float:right'><img src='data:image/jpeg;base64," + avatar + "'" + "class='imgCHAT roundImgChat' with='40' height='40' alt='sunil'></div>" + "<div class='sent_msg'>";
                    }
                    else {
                        newMessage += "<div class='incoming_msg_img' style='float:right'><img src='/images/noavatar.png'class='imgCHAT roundImgChat' with='40' height='40' alt='sunil'></div>" + "<div class='sent_msg'>";
                    }
                    newMessage+="<p>" + message + "</p>" +
                        "<span class='time_date'>" + new Date(time).toLocaleString() + "</div></div>";
                    $("#chatBlock").append(newMessage);
                }
            }
            else {
                var newMessage = "";
                newMessage += "<div class='incoming_msg'>" +
                    "<div class='incoming_msg_img'><img src='data:image/jpeg;base64," + avatar + "'" + "class='imgCHAT roundImgChat' with='40' height='40' alt='sunil'></div>" +
                    "<div class='received_msg'>" +
                    "<div class='received_withd_msg'>" +
                    "<p>" + message  + "</p>" +
                    "<span class='time_date'>" + new Date(time).toLocaleString() + "</span></div></div></div></div>";
                $("#chatBlock").append(newMessage);
            }

        });

        $(".msg_send_btn").on("click", function (e) {
            var toUserId = $(this).attr("data-userid");
            var name = $(this).attr("data-username");
            let message = $(".write_msg").val();
            var dialogId = $(".msg_send_btn").attr("data-dialogid");
            hubConnection.invoke('sendDirectMessage', toUserId, message, dialogId);
            $(".write_msg").val('');
        });

        window.addEventListener("unload", function () { 
            hubConnection.on("OnDisconnectedAsync",@Model.ID);
        })
        $(".write_msg").keypress(function (e) { 
            if (e.which == 13) {
                let message = $(".write_msg").val();
                var toUserId = $(".msg_send_btn").attr("data-userid");
                var name = $(".msg_send_btn").attr("data-username");
                var dialogId = $(".msg_send_btn").attr("data-dialogid");
                hubConnection.invoke('sendDirectMessage', toUserId, message, dialogId);
                $(".write_msg").val('');
            }
        })
        
    </script>
}

