﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalChat.WEB</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Mukta:600" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />     
    </environment>
    <style>
        .nav.navbar-nav.navbar-right li a {
            color: white;
        }
        .control-label, a {
            color: #337ab7;
            font-family: 'Mukta', sans-serif;
            font-size: medium;
        }

        h3, h4, h5, h6, input {
            color: #337ab7;
            font-family: 'Mukta', sans-serif;
            font-size: medium;
        }
        h1, h2,p{
            color: #337ab7;
            font-family: 'Mukta', sans-serif;
        }
        .text-danger {
            font-family: 'Mukta', sans-serif;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#337ab7">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" style="color:white" class="navbar-brand">FinalChat</a>
            </div>
            <div class="navbar-collapse collapse" >
                @if (User.Identity.IsAuthenticated)
                {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Index"><i class="fas fa-user-tie" style="font-size:18px;color:white"></i> @User.Identity.Name</a></li>
                    <li><a href="/Account/SignOut"><i class="fas fa-sign-out-alt" style="font-size:18px;color:white"></i> SignOut</a></li>
                </ul>
                }
                else
                {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Register"><i class="fas fa-users" style="font-size:18px;color:white"></i> Registration</a></li>
                    <li><a href="/Account/Login"><i class="fas fa-sign-in-alt" style="font-size:18px;color:white"></i> SignIn</a></li>
                </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - FinalChat</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
