﻿@model FinalChat.WEB.Models.LoginVM

@{
    ViewData["Title"] = "Authenticate";
}

<h2 style="color:steelblue">Login</h2>
<div class="row">
    <div class="col-md-4">
        <form action="/Account/Authentication" method="post" id="loginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0%;">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <p id="textError" style="color:#a94442; display:inline-block" ></p>
            <div class="form-group">
                <input id="login" type="button" value="LogIn" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#login").on('click', function (e) { 
            e.preventDefault();
            var jsonData = {
                email: encodeURIComponent($("#email").val()),
                password: $("#password").val()
            };
            var json = JSON.stringify(jsonData);
            $.ajax({
                url: "/Account/CheckUserPassword?json=" + json,
                type: "GET",
                success: function (validation) {
                    switch (validation) {
                        case true:
                            $.ajax({
                                url: "/Account/CheckConfirmOfEmial?json=" + json,
                                type: "GET",
                                success: function (validation) {
                                    switch (validation) {
                                        case true:
                                            $("#loginForm").submit();
                                            break;
                                        case false:
                                            $("#password").css('border', '1px solid #a94442'), $("#email").css('border', '1px solid #a94442'), $("#textError").empty(), $("#textError").append('Your email is not confirmed.Please confirm your email,then try to login.');
                                            break;
                                    }
                                },
                            });                           
                            break;
                        case false:
                            $("#password").css('border', '1px solid #a94442'), $("#email").css('border', '1px solid #a94442'), $("#textError").empty(), $("#textError").append('Invalid email or password');
                            break;
                    }
                },

            });           
        })
        $("#password,#email").on('click', function (e) { 
            e.preventDefault();
            $("#password").css('border', '1px solid #ccc');
            $("#email").css('border', '1px solid #ccc');
            $("#textError").empty();
        })
       
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
